[Unit]
Description = Beat PO Token generator
After = network-online.target

[Service]
ExecStart=/usr/bin/docker run -p 8980:8080 quay.io/invidious/youtube-trusted-session-generator:webserver
WorkingDirectory=/home/debian/Workspace
User=debian
Restart=always
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy = multi-user.target
