[Unit]
Description = Beat Discord music bot
After = network-online.target

[Service]
ExecStart=/home/debian/.sdkman/candidates/java/current/bin/java -jar /home/debian/Workspace/Beat-bot/source/Beat-bot/target/beat-1.0-SNAPSHOT.jar
WorkingDirectory=/home/debian/Workspace/Beat-bot/source/Beat-bot
User=debian
Restart=always
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy = multi-user.target
