<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>BeatBot</string>

  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/java</string>
    <string>-jar</string>
    <string>/Users/vincentcastelluci/Workspace/Perso/Discord/Beat/beat-1.0-SNAPSHOT.jar</string>
  </array>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <false/>

  <key>StandardOutPath</key>
  <string>/Users/vincentcastelluci/Workspace/Perso/Discord/Beat/beat-log.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/vincentcastelluci/Workspace/Perso/Discord/Beat/beat-log.log</string>
</dict>
</plist>
